@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --bg-color: #000000;
  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  
  --font-primary: 'Open Sans', system-ui, -apple-system, sans-serif;
  --font-heading: 'Montserrat', system-ui, -apple-system, sans-serif;
  --font-secondary: 'Cormorant Garamond', serif;
  
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-primary);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.font-secondary {
  font-family: var(--font-secondary);
  font-weight: 300; /* Light */
  font-style: italic; /* Itálico */
}
